@import "../../colors.scss";

.main_title {
  position: relative;
  height: 80px;
  text-align: center;
  color: $black;

  .firstname, .lastname {
    position: absolute;
    overflow: hidden;

    span {
      display: inline-block;
      padding: 0px 10px;
      font-family: "Lora", sans-serif;
      font-size: 60px;
      letter-spacing: 2px;
      opacity: 0;
      transition: opacity 0s 0.5s, margin 0s 0.5s ease-in;
    }
  }

  .firstname {
    right: 50%;

    span {
      margin-right: -200%;
    }
  }

  .lastname {
    left: 50%;

    span {
      margin-left: -200%;
    }
  }

  .divider {
    position: absolute;
    width: 1px;
    left: 50%;
    top: 50%;
    bottom: 50%;
    margin-left: -0.5px;
    background-color: $black;
    transition: top 0s 0.5s, bottom 0s 0.5s;
  }

  &.active {

    .divider {
      top: 0%;
      bottom: 0%;
      transition: top 0.5s 0.5s, bottom 0.5s 0.5s;
    }

    .firstname span, .lastname span {
      opacity: 1;
      margin: 0%;
      transition: opacity 0.5s 1s, margin 0.5s 1s ease-out;
    }
  }
}
