@import "../../common.scss";

.work {

  .work_carousel {
    position: absolute;
    top: 100px;
    bottom: 40px;
    left: 10%;
    right: 10%;
    opacity: 0;
    transition: opacity 0.5s 0s;
  }

  &.active {

    .work_carousel {
      opacity: 1;
      transition: opacity 0.5s 0.5s;
    }
  }
}
